.et_pb_module.pesl_pepite_slider {
    margin: 0;
}

.et_pb_module.pesl_pepite_slider .swiper-wrapper {
    padding: 0;
    align-items: stretch;
}

.et_pb_module.pesl_pepite_slider .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    height: 100%;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.et_pb_module.pesl_pepite_slider .pesl_slider_container_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.et_pb_module.pesl_pepite_slider .pesl_slider_container_inner .slide_content_wrapper {
    height: 100%;
    width: 100%;
}

.et_pb_module.pesl_pepite_slider .swiper-slide {
    position: relative;
    overflow: hidden;
    height: unset;
    max-width: unset;
}

.et_pb_module.pesl_pepite_slider .swiper-slide:after {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.et_pb_module.pesl_pepite_slider .et_pb_slide_image,
.et_pb_module.pesl_pepite_slider .et_pb_slide_video {
    z-index: 1;
    /* below title */
    width: 100%;
    height: 100%;
}

.et_pb_module.pesl_pepite_slider .et_pb_slide_video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fluid-width-video-wrapper {
    /* width: 100%; */
    position: relative;
    padding: 0;
    width: auto;
    max-height: 100%;
    /* max-width: 100%; */
    box-sizing: border-box;
    height: 100%;
    padding: 0 !important;
    /* Add force fullwidth control?*/
    aspect-ratio: 16/9;
    width: unset !important;
}

/* .et_pb_module.pesl_pepite_slider .et_pb_slide_image {
    width: auto;
} */
.et_pb_module.pesl_pepite_slider .et_pb_slide_image>img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}


.et_pb_module.pesl_pepite_slider .pesl_slide_description {
    position: absolute;
    z-index: 10;
    /* above content */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.et_pb_module.pesl_pepite_slider .pesl_slider_container_inner>.pesl_slide_description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-prev:after,
.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-next:after {
    width: 100%;
}

/* .et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-prev.no-arrows:after,
.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-next.no-arrows:after {
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    content: "";
    pointer-events: none; 
}
.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-prev.no-arrows,
.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-next.no-arrows {
    width: 50%;
    height: 100%;
    top: 0;
    display: block; 
} */

.et_pb_module.pesl_pepite_slider .swiper-arrow-button.swiper-button-disabled.no-arrows {}